<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Gesture Recognition</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content
  ><div class="container">
    <div #videoRef></div>
    <br />
    <p class="label">{{ label }}</p>
    <div *ngFor="let item of predictions">
      <div
        [style.display]="'inline-block'"
        [style.width.px]="100"
        [style.height.px]="40"
        [style.line-height.px]="40"
        [style.vertical-align]="'top'"
      >
        {{item.className}}
      </div>
      <div class="bar">
        <div
          [className]="item.className === 'Rock' ? 'bar__in bar__in--rock' : item.className === 'Paper' ? 'bar__in bar__in--paper' : 'bar__in bar__in--scissor'"
          [style.width.%]="item.probability * 100"
        >
          {{ (item.probability * 100).toFixed(2) }}%
        </div>
      </div>
    </div>
  </div>
</ion-content>
