<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Object Detection</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="video-container">
    <video
      class="video-area"
      (canplay)="onVideoCanPlay()"
      crossorigin="anonymous"
      #videoRef
      src="../../assets/parking_01.mp4"
    ></video>
  </div>

  <svg
    [ngStyle]="{ top: videoBoundingRect.top-56+'px', left: '50%', transform: 'translateX(-50%)' }"
    [attr.width]="(videoBoundingRect.width-1)+'px'"
    [attr.height]="(videoBoundingRect.height-1)+'px'"
    [attr.viewBox]=" '0 0 '+videoBoundingRect.width+' '+ videoBoundingRect.height "
    *ngIf="videoBoundingRect && svgEnabled"
    class="svg-area"
    #svgRef
  >
    <defs>
      <filter x="0" y="0" width="1" height="1" id="solid">
        <feFlood flood-color="black" />
        <feComposite
          in="SourceGraphic"
          in2="BackgroundImage"
          operator="atop"
          result="comp"
        />
      </filter>
    </defs>

    <g *ngFor="let detection of currentDetections">
      <rect
        [attr.x]="detection.bbox[0]+'px'"
        [attr.y]="detection.bbox[1]+'px'"
        [attr.width]="detection.bbox[2]+'px'"
        [attr.height]="detection.bbox[3]+'px'"
        style="fill: transparent; stroke-width: 2; stroke: rgb(0, 255, 0)"
      />
      <text
        filter="url(#solid)"
        [attr.x]="detection.bbox[0]+'px'"
        [attr.y]="detection.bbox[1]+17+'px'"
        font-family="sans"
        font-size="18"
        fill="white"
      >
        {{detection.score | percent:'2.3-5'}}
      </text>
    </g>
  </svg>

  <br />
  <section>
    <header>Number of Car : {{numberOfObject}}</header>
    <ion-button (click)="videoRef.play()">PLAY</ion-button>
    <ion-button (click)="videoRef.pause()">PAUSE</ion-button>
    <ion-button (click)="toggleSvgOverlay()"
      >{{ svgEnabled ? 'HIDE' : 'SHOW'}}</ion-button
    >
  </section>
</ion-content>
