<ion-header>
  <ion-toolbar>
    <ion-title>Digit classifier</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <div class="container">
        <div class="wrapper">
          <canvas appDrawable (newImage)="predict($event)"></canvas><br />
        </div>
        <h3>{{ predictText }}</h3>
        <h3>{{ confidenceText }}</h3>
        <h3>{{ elapsedText }}</h3>
        <ion-button
          color="light"
          expand="full"
          (click)="canvas.clear();clear();"
          >Clear</ion-button
        >
      </div>
    </ion-row>
  </ion-grid>
</ion-content>
